---
http_interactions:
- request:
    method: get
    uri: https://itunes.apple.com/search?term=nerdcast
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Apple-Jingle-Correlation-Key:
      - 2PC3CQPMT5INV76P3JRJGWA6WE
      X-Apple-Application-Site:
      - NWK
      Content-Disposition:
      - attachment; filename=1.txt
      Apple-Originating-System:
      - MZStoreServices
      X-Apple-Translated-Wo-Url:
      - "/WebObjects/MZStoreServices.woa/ws/wsSearch?term=nerdcast&urlDesc="
      Apple-Tk:
      - 'false'
      X-Apple-Orig-Url:
      - https://itunes.apple.com/search?term=nerdcast
      Apple-Seq:
      - '0'
      Apple-Timing-App:
      - 104 ms
      Content-Type:
      - text/javascript; charset=utf-8
      X-Apple-Application-Instance:
      - '1000494'
      X-Webobjects-Loadaverage:
      - '0'
      X-Apple-Request-Uuid:
      - d3c5b141-ec9f-50da-ffcf-da6293581eb1
      X-Apple-Ats-Cache-Key:
      - "/17.154.42.219/80/search/browser/https?term=nerdcast"
      X-Apple-Partner:
      - origin.0
    body:
      encoding: UTF-8
      string: "\n\n\n{\n \"resultCount\":35,\n \"results\": [\n{\"wrapperType\":\"track\",
        \"kind\":\"podcast\", \"collectionId\":1103141552, \"trackId\":1103141552,
        \"artistName\":\"Nerdcast\", \"collectionName\":\"Nerdcast\", \"trackName\":\"Nerdcast\",
        \"collectionCensoredName\":\"Nerdcast\", \"trackCensoredName\":\"Nerdcast\",
        \"collectionViewUrl\":\"https://itunes.apple.com/us/podcast/nerdcast/id1103141552?mt=2&uo=4\",
        \"feedUrl\":\"http://feeds.soundcloud.com/users/soundcloud:users:219177314/sounds.rss\",
        \"trackViewUrl\":\"https://itunes.apple.com/us/podcast/nerdcast/id1103141552?mt=2&uo=4\",
        \"artworkUrl30\":\"http://is3.mzstatic.com/image/thumb/Music30/v4/5c/3b/46/5c3b46c8-adf7-5f27-edf2-ee22bedb962a/source/30x30bb.jpg\",
        \"artworkUrl60\":\"http://is3.mzstatic.com/image/thumb/Music30/v4/5c/3b/46/5c3b46c8-adf7-5f27-edf2-ee22bedb962a/source/60x60bb.jpg\",
        \"artworkUrl100\":\"http://is3.mzstatic.com/image/thumb/Music30/v4/5c/3b/46/5c3b46c8-adf7-5f27-edf2-ee22bedb962a/source/100x100bb.jpg\",
        \"collectionPrice\":0.00, \"trackPrice\":0.00, \"trackRentalPrice\":0, \"collectionHdPrice\":0,
        \"trackHdPrice\":0, \"trackHdRentalPrice\":0, \"releaseDate\":\"2016-07-11T07:05:00Z\",
        \"collectionExplicitness\":\"cleaned\", \"trackExplicitness\":\"cleaned\",
        \"trackCount\":6, \"country\":\"USA\", \"currency\":\"USD\", \"primaryGenreName\":\"Comedy\",
        \"contentAdvisoryRating\":\"Clean\", \"artworkUrl600\":\"http://is3.mzstatic.com/image/thumb/Music30/v4/5c/3b/46/5c3b46c8-adf7-5f27-edf2-ee22bedb962a/source/600x600bb.jpg\",
        \"genreIds\":[\"1303\", \"26\"], \"genres\":[\"Comedy\", \"Podcasts\"]}, \n{\"wrapperType\":\"track\",
        \"kind\":\"podcast\", \"collectionId\":381816509, \"trackId\":381816509, \"artistName\":\"Jovem
        Nerd\", \"collectionName\":\"NerdCast\", \"trackName\":\"NerdCast\", \"collectionCensoredName\":\"NerdCast\",
        \"trackCensoredName\":\"NerdCast\", \"collectionViewUrl\":\"https://itunes.apple.com/us/podcast/nerdcast/id381816509?mt=2&uo=4\",
        \"feedUrl\":\"https://jovemnerd.com.br/feed-nerdcast/\", \"trackViewUrl\"[...]
